body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
* {
  box-sizing: border-box;
}
header {
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
}

/* Logo */
.logo {
  width: 50%;
  margin-left: 22%;
}
.logo-header {
  width: 20%;
  margin-left: 3%;
  width: 50%;
}
.container-logo {
  display: flex;
}

/* Titulos y letras */
h1 {
  text-align: center;
  color: #1a2537;
  font-size: 1.5em;
}
h2 {
  font-size: 0.7em;
  margin-left: 18px;
  margin-top: 20px;
}
h4,
small,
a {
  margin: 0;
  padding: 0;
}
h5 {
  margin: 8px;
}
label {
  font-size: 0.9em;
}
.details-rcp {
  font-size: 0.8em;
  color: black;
  margin-left: 136px;
  margin-top: -5%;
  display: flex;
}
.details-rcp :hover {
  color: #d86c07;
}
.details-rcp :visited {
  color: red;
}
p {
  font-size: 0.8em;
}

/* Iconos */
.icon {
  min-width: 50px;
  text-align: center;
  color: #000;
}
.google-icon {
  min-width: 22px;
  width: 5%;
  text-align: center;
  margin-top: 3%;
  margin-left: 5%;
  float: left;
}
.icon-feed {
  min-width: 50px;
  text-align: right;
  color: rgb(0, 0, 0);
}
.container-icon {
  display: flex;
  align-items: center;
}
.icon-feed2 {
  min-width: 50px;
  margin-left: 2%;
  color: rgb(0, 0, 0);
}
.icon-feed2 :active {
  color: #d86c07;
}
.icon-fork {
  margin-left: 15%;
  font-size: 15px;
  padding: 5%;
  flex-direction: row;
}
.icon-clock {
  margin-left: 2%;
  padding: 5%;
  font-size: 15px;
  flex-direction: row;
}
.icon-share {
  margin-left: 10%;
}
.add {
  margin-left: -34px;
  margin-bottom: 5%;
}
.icon-detail {
  margin-left: 10%;
}
.containerDetail-icon {
  justify-content: flex-end;
  display: flex;
  margin-right: 10%;
}
.container-title {
  width: 100%;
}
h6 {
  padding: 0%;
  margin: 0%;
  float: left;
  margin-left: 13%;
  font-size: 16px;
}
.container4 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.container-icon2 {
  margin-left: 13%;
}

/* Images */
.imagesFeed {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}
.images {
  flex-basis: auto;
  width: 110px;
  height: 88px;
}
.img-post {
  padding: 10px;
  width: 96%;
  height: 108%;
  height: 108%;
  object-position: center center;
  object-fit: cover;
}
#detail-RecipeImg {
  padding: 15px 40px;
  width: 100%;
  height: 108%;
  height: 108%;
  object-position: center center;
  object-fit: cover;
}
.user-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

/* Containers */
.contenedor {
  width: 100%;
  padding: 20px;
}
.formulario {
  margin-top: 40px;
  padding: 20px;
}
.formulario-2 {
  padding: 20px;
  padding-top: 0px;
}
.container2 {
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  margin-bottom: 5%;
  height: 132px;
}
.container-photo {
  max-width: 42%;
  object-position: center center;
  object-fit: cover;
  height: 116px;
}
.Container-camera {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
  text-align: center;
  border: none;
}
.container-recipe {
  padding: 10px 20px;
  text-align: left;
  padding-left: 33px;
}
.ctn-receta {
  font-size: 0.9em;
  border: none;
  width: 100px;
  height: 30px;
  text-align: left;
  margin-bottom: 2%;
  background-color: #e5e5e5;
  margin-left: 10%;
}
.ctn-rct {
  border-bottom: 2px solid #e5e5e5;
}
.ctn-receta3 {
  font-size: 0.9em;
  border: none;
  width: 100px;
  height: 30px;
  text-align: left;
  margin-bottom: 2%;
  background-color: #e5e5e5;
  margin-left: 32%;
}
.ctn-receta2 {
  font-size: 0.9em;
  border: none;
  width: 280px;
  height: 30px;
  text-align: left;
  margin-bottom: 2%;
  background-color: #e5e5e5;
}
.container3 {
  display: flex;
  align-items: center;
}
.container3 p {
  margin-left: 11px;
}
.pastilla {
  width: 100%;
  height: 50px;
  background: #ff9635;
  margin-top: 5%;
}
.follow-divbutton {
  display: flex;
  margin-right: 60px;
  height: 30px;
}

/* Botones */
.button {
  border: none;
  width: 100%;
  color: black;
  font-size: 1em;
  background: #ff9635;
  padding: 10px 15px;
  cursor: pointer;
}
.btn-google {
  border: none;
  background: #ffffff;
  width: 70%;
  color: black;
  font-size: 0.9em;
  padding: 11px;
  cursor: pointer;
}
.btn {
  border: none;
  width: 110px;
  height: 30px;
  color: rgb(30, 50, 50);
  font-size: 0.9em;
  background: #ff9635;
  cursor: pointer;
}
.btn-feed {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.btn-like {
  border: none;
  background: none;
  outline: 0px;
  margin-left: -8%;
  cursor: pointer;
}
.heart:hover {
  color: orangered;
}

/* Botón de registro */
.check-in {
  border: none;
  width: 100%;
  height: 10%;
  color: #fff;
  font-size: 1em;
  background: rgb(114, 112, 112);
  padding: 10px 15px;
  cursor: pointer;
}
.btn-follow {
  width: 70px;
  height: 24px;
  color: black;
  font-size: 0.7em;
  background: #ff9635;
  cursor: pointer;
  border: 0;
}

/* Inputs */
.input-init {
  font-size: 0.9em;
  padding: 10px;
  border: none;
  width: 80%;
  text-align: left;
  margin-bottom: 2%;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.input-contenedor-google {
  margin-bottom: 15px;
  border: 2px solid #ff9635;
}
.clear {
  border: none;
  background: none;
  color: black;
}
/* Text-area */
.texta-receta2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  border: none;
  width: 280px;
  height: 90px;
  margin-bottom: 2%;
  background-color: #e5e5e5;
}
/* flecha */
#arrow {
  margin: 0 0 0 0.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  align-self: flex-start;
  color: black;
}
.publish {
  margin-top: 40px;
}
.post {
  display: flex;
}
.text-ingredient,
.check {
  font-size: 1em;
}
.text-ingredient {
  font-weight: bold;
}

@media (min-width: 768px) {
  .formulario,
  .formulario-2,
  header,
  .imagesFeed,
  .btn-feed,
  .container2,
  .Container-camera,
  .container-recipe,
  .container4,
  .img-recipePost,
  .container-icon2,
  .pastilla,
  .contenedor,

  
  h2 {
    margin-top: 0;
    margin: auto;
    width: 500px;
    font-size: 14px;
  }
  .PostRec {
    margin-top: 5%;
    margin-bottom: 4%;
  }
  .ctn-receta {
    margin-left: 44%;
  }
  .ctn-receta3 {
    margin-left: 59%;
  }
  .google-icon {
    min-width: 22px;
    width: 5%;
    text-align: center;
    margin-top: 2%;
    margin-left: 16%;
    float: left;
  }
  .container4{
    margin-top:1%;
  }

  .container-icon2,{
    margin-left: 5%;
  }


}
